*{
    margin: 0;
    padding: 0;
    
}

.links{
    width:100%;
    height:50px;
    position:fixed;
    display:flex;
}

.links label{
    padding:10px 0;
    flex-grow:1;
    cursor:pointer;
    transition:all, .4s;
    text-align:center;
    font-size:100%;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}

.links label:hover{ 
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: white;
    
}

.scroll input{ /*radio button some*/
    display:none;
}

.bloco{ /* barar de rolagem scroll*/
    width:100vw;
    height:100vh;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    display:flex;
}


.titulo-informacoes{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}

.titulo-informacoes::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s 10s;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.alterar-informacoes{
    display: block;
    margin-left: auto;
    margin-right:5%;
    cursor: pointer;
}

.alterar-informacoes:hover{
    transition: 1s;
    transform: rotate(360deg);
}

.periodo-letivo{
    padding:5px;
    border-style: solid;
    border-color: #ffff;
    background-color: #ffff;
    border-width: 2px;
    border-radius:5%;
    -moz-appearance:none;
    -webkit-animation: none;
    appearance: none;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    animation: subida 2s;
    width:200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    
}

.periodo-letivo:hover{
    transition: 0.5s;
    background-color: #ffff;
}

@keyframes subida{
    0%{
        margin-top:50%;
        opacity: .0;
    }
    50%{
        margin-top:10%;
        opacity: .5;
    }
    100%{
        margin-top:0%;
        opacity:1;
    }
}

.alterar-informacoes-titulo{
    font-family: 'Montserrat', sans-serif;
}

.input-alterar-informacoes:hover{
    transition: 1s;
    -webkit-box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
    -moz-box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
    box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
}

.corpo-informacoes{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
}

.corpo-informacoes{
    animation: blinkInformacoes 2s;
}

@keyframes blinkInformacoes{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.avatar-usuario{
    width:0px;
    height:0px;
}

.avatar-usuario-carregado{
    transition: 1s;
    width:200px; 
    height:200px;
}


#nodejs{ /*faz parte do bloco*/
    background: url("../assets/background1.jpg");
    background-size: cover;
}


#bootstrap{
    background: url("../assets/background2.jpg");
    background-size: cover;
}

#sass{
    background: url("../assets/background3.jpg");
    background-size: cover;
}

#ruby{
    background: url("../assets/background4.jpg");
    background-size: cover;
}

#angular{
    background: url("../assets/background5.jpg");
    background-size: cover;
}

.scroll{
    display:flex;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.sections{
    transition:all .4s;
}

#rd_bootstrap:checked ~ .sections{
    margin-top:-100vh;
}
#rd_sass:checked ~ .sections{
    margin-top:-200vh;
}
#rd_ruby:checked ~ .sections{
    margin-top:-300vh;
}
#rd_angular:checked ~ .sections{
    margin-top: -400vh;
}

.input-modal{
    display:inline!important;
}


@keyframes fadeModal{
    0%{
        width: 0vw;
        height: 0vh;
        border-radius: 100%;
    }
    50%{
        width: 50vw;
        height: 50vh;
        border-radius: 50%;
    }
    100%{
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
    }
}

.titulo-top::after{
    content: '';
}

.titulo-top{
    margin-top: 350px;
}

.card-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card-margin{
    margin: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.button-right::after{
    content: '+';
    font-size: 50px;
    text-align: center;
}

.button-right{
    padding-left:25px;
    padding-right:25px;
    border-radius:100%!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: 2%;
    cursor: pointer;
    transition: 1s;
    margin-top:15%;
}

.bloco-no-overflow{
    overflow-y:scroll;
}

.button-right:hover{
    transition: 1s;
    transform: scale(1.1) rotate(360deg);
}

.turma{
    display: flex;
}

.card{
    border-radius: 10px;
}

.card-grupo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.custom-file-label{
    background:#343a40;
    color:#fff;
}

.custom-file-button{
    background:#343a40;
    color:#fff;
}

.bloco-no-overflow-y{
    overflow-y: scroll;
}




@media only screen and (min-width: 768px) and (max-width: 1280px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .titulo-top{
        margin-top: 0px;
    }

    .bloco-no-overflow{
        overflow-y:hidden;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}