*{
    margin: 0;
    padding: 0;
    
}

body{
     overflow-x: hidden;
}

.links{
    width:100%;
    height:60px;
    position:fixed;
    display:flex;
    background:#2b2e39;
    z-index: 2000;
}

.links label{
    padding:10px 0;
    flex-grow:1;
    cursor:pointer;
    transition:all, .4s;
    text-align:center;
    font-size:100%;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}

.links label:hover{ 
    border-bottom: solid #ffff 1px;
}


.scroll input{ /*radio button some*/
    /* display:none;  */
    opacity: 0;
    background:transparent;
    position: absolute;
}

.bloco{ /* barar de rolagem scroll*/
    width:100vw;
    height:100vh;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    display:flex;
}


.titulo-informacoes{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}

.titulo-informacoes::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s 10s;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.alterar-informacoes{
    display: block;
    margin-left: auto;
    margin-right:5%;
    cursor: pointer;
}

.alterar-informacoes:hover{
    transition: 1s;
    transform: rotate(360deg);
}

.deslogar{
    cursor: pointer;
    margin-top: 1%;
}




.periodo-letivo{
    padding:5px;
    border-style: solid;
    border-color: #ffff;
    background-color: #ffff;
    border-width: 2px;
    border-radius:5%;
    -moz-appearance:none;
    -webkit-animation: none;
    appearance: none;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    animation: subida 2s;
    width:200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    
}

.periodo-letivo:hover{
    transition: 0.5s;
    background-color: #ffff;
}

@keyframes subida{
    0%{
        margin-top:50%;
        opacity: .0;
    }
    50%{
        margin-top:10%;
        opacity: .5;
    }
    100%{
        margin-top:0%;
        opacity:1;
    }
}

.alterar-informacoes-titulo{
    font-family: 'Montserrat', sans-serif;
}

.input-alterar-informacoes:hover{
    transition: 1s;
    -webkit-box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
    -moz-box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
    box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
}

.corpo-informacoes{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
}

.corpo-informacoes{
    animation: blinkInformacoes 2s;
}

@keyframes blinkInformacoes{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.avatar-usuario{
    width:0px;
    height:0px;
}

.avatar-usuario-carregado{
    transition: 1s;
    width:200px; 
    height:200px;
}


#nodejs{ /*faz parte do bloco*/
    background: url("../assets/background1.jpg");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


#bootstrap{
    background: url("../assets/background2.jpg");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#sass{
    background: url("../assets/background3.jpg");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
    box-sizing: border-box;
    display: inline-block;
}

#ruby{
    background: url("../assets/background4.jpg");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#angular{
    background: url("../assets/background5.jpg");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.scroll{
    display:flex;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.sections{
    transition:all .5s;
}

#rd_bootstrap:checked ~ .sections{
    margin-top:-100vh;
}
#rd_sass:checked ~ .sections{
    margin-top:-200vh;
}
#rd_ruby:checked ~ .sections{
    margin-top:-300vh;
}
#rd_angular:checked ~ .sections{
    margin-top: -400vh;
}

.input-modal{
    display:inline!important;
    opacity: 1!important;
    position: relative!important;
    display:none;
}

.dd{
    display:flex;
    flex-direction: row;
}

@keyframes fadeModal{
    0%{
        width: 0vw;
        height: 0vh;
        border-radius: 100%;
    }
    50%{
        width: 50vw;
        height: 50vh;
        border-radius: 50%;
    }
    100%{
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
    }
}

.titulo-top::after{
    content: '';
}

.titulo-top{
    margin-top: 350px;
}

.card-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.card-margin{
    margin: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.button-right::after{
    content: '+';
    font-size: 50px;
    text-align: center;
}

.button-right{
    padding-left:25px;
    padding-right:25px;
    border-radius:100%!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: 2%;
    cursor: pointer;
    transition: 1s;
    margin-top:15%;
}

.bloco-no-overflow{
    overflow-y:scroll;
}

.button-right:hover{
    transition: 1s;
    transform: scale(1.1) rotate(360deg);
}

.turma{
    display: flex;
}

.card{
    border-radius: 10px;
}

.card-grupo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.bloco-no-overflow-y{
    overflow-y: scroll;
}

.card-grupo{
    margin-top: 0%;
}

.dd{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.dd .card{
    width:31%;
    padding-bottom:15px;
    border:0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 43px -14px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 43px -14px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 43px -14px rgba(0,0,0,0.45);
    transition: 1s;

}

.dd .card:hover{
    box-shadow: none;
    transform: translateY(2px);
    transition: all .3s ease;
}

.grupo-titulo{
    width:100%;
    margin:0;
    padding-top:100px;

}

.dd .card-header{
    background:#2b2e39;
    color:white;
    font-weight: bold;
}

.dd .card-body{
    padding:15px 0;

}

.dd .card-title{
    margin:2px 0;
}

.dd .card-text{
    white-space: nowrap;
    font-size: 15px;
    margin:8px 0;
}

@media only screen and (min-width: 200px) and (max-width: 575.98px) {
    .dd .card{
        width:90%;
    }
    
    .dd .card-header{
        font-size: 16px;
    }
    
    
    .dd .card-text{
        font-size: 12px;
    }
    
}

@media only screen and (min-width: 576px) and (max-width: 767.98px){
    .dd .card{
        width:47%
    }
    
    .dd .card-header{
        font-size: 17px;
    }
    
    .dd .card-text{
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px){
    .dd .card{
        width:37%
    }
    
    .dd .card-header{
        font-size: 17px;
    }
    
    .dd .card-text{
        font-size: 14px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .titulo-top{
        margin-top: 0px;
    }

    .bloco-no-overflow{
        overflow-y:hidden;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}