*{
    margin: 0;
    padding: 0;
    
}

.links{
    width:100%;
    height:60px;
    position:fixed;
    display:flex;
    background:#2b2e39;
}

.links label{
    padding:10px 0;
    flex-grow:1;
    cursor:pointer;
    transition:all, .4s;
    text-align:center;
    font-size:100%;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}

.links label:hover{ 
    border-bottom: solid #ffff 1px;
}


.scroll input{ /*radio button some*/
    /* display:none; */
    opacity: 0;
    background:transparent;
    position: absolute;
}

.bloco{ /* barar de rolagem scroll*/
    width:100vw;
    height:100vh;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    display:flex;
}


.titulo-informacoes{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}

.titulo-informacoes::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s 10s;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.alterar-informacoes{
    display: block;
    margin-left: auto;
    margin-right:5%;
    cursor: pointer;
}

.alterar-informacoes:hover{
    transition: 1s;
    transform: rotate(360deg);
}

.deslogar{
    cursor: pointer;
}


.periodo-letivo{
    padding:5px;
    border-style: solid;
    border-color: #ffff;
    background-color: #ffff;
    border-width: 2px;
    border-radius:5%;
    -moz-appearance:none;
    -webkit-animation: none;
    appearance: none;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    animation: subida 2s;
    width:200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    margin-right: 2%;
    
}

.dropdown{
    margin-right: 1%;
}

.periodo-letivo:hover{
    transition: 0.5s;
    background-color: #ffff;
}

@keyframes subida{
    0%{
        margin-top:50%;
        opacity: .0;
    }
    50%{
        margin-top:10%;
        opacity: .5;
    }
    100%{
        margin-top:0%;
        opacity:1;
    }
}

.alterar-informacoes-titulo{
    font-family: 'Montserrat', sans-serif;
}

.input-alterar-informacoes:hover{
    transition: 1s;
    -webkit-box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
    -moz-box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
    box-shadow: -4px 2px 27px 0px rgba(255,101,73,1);
}

.corpo-informacoes{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
}

.corpo-informacoes{
    animation: blinkInformacoes 2s;
}

@keyframes blinkInformacoes{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.avatar-usuario{
    width:0px;
    height:0px;
}

.avatar-usuario-carregado{
    transition: 1s;
    width:200px; 
    height:200px;
}


#nodejs{ /*faz parte do bloco*/
    background: url("../assets/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


#bootstrap{
    background: url("../assets/background2.jpg");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#sass{
    background: url("../assets/background3.jpg");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#ruby{
    background: url("../assets/background4.jpg");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#angular{
    background: url("../assets/background5.jpg");
    background-size: cover;
}

.scroll{
    display:flex;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.sections{
    transition:all .5s;
}

#rd_bootstrap:checked ~ .sections{
    margin-top:-100vh;
}
#rd_sass:checked ~ .sections{
    margin-top:-200vh;
}
#rd_ruby:checked ~ .sections{
    margin-top:-300vh;
}
#rd_angular:checked ~ .sections{
    margin-top: -400vh;
}


.input-modal{
    display:inline!important;
    opacity: 1!important;
    position: relative!important;
    display:none;
}


@keyframes fadeModal{
    0%{
        width: 0vw;
        height: 0vh;
        border-radius: 100%;
    }
    50%{
        width: 50vw;
        height: 50vh;
        border-radius: 50%;
    }
    100%{
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
    }
}

.titulo-top::after{
    content: '';
}

.titulo-top{
    margin-top: 350px;
}

.card-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card-margin{
    margin: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.button-right::after{
    content: '+';
    font-size: 50px;
    text-align: center;
}

.button-right{
    padding-left:25px;
    padding-right:25px;
    border-radius:100%!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: 2%;
    cursor: pointer;
    transition: 1s;
}

.btn-delete{
    padding-left:28px;
    padding-right:28px;
}

.btn-delete::after{
    content: '-';
    color: #ff6043;
}

.bloco-no-overflow{
    overflow-y:scroll;
}



.button-right:hover{
    transition: 1s;
    transform: scale(1.1) rotate(360deg);
}

.turma{
    display: flex;
}

.card{
    border-radius: 10px;
}

.card-title{
    font-weight: bold;
}

.card-grupo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.card-grupo{
    margin-top:-50%;
}

.grupo-titulo{
    margin-bottom:0%;
}

.deslogar{
    margin-top: 1%;
}

.bloco-no-overflow-y{
    overflow-y: scroll;
}

.checkbox-aluno{
    opacity: 1!important;
    position: relative;
}

.paginacao-alunos{
    margin-left:9vw;
}

.close-bar{
    float: right;
    font-size:15px;
    font-weight: bold;
    cursor: pointer;
}

.close-bar::after{
    content: 'X';
}

.deleta-linha{
    cursor: pointer;
    opacity: 1;
    transition:all 1s;
}

.nao-deleta-linha{
    cursor: default;
    opacity: 0;
    transition:all 1s;
    
}

.aluno-bug{
    opacity: 1!important;
    position: relative!important;
}

.check-name-alunos{
    width: 48%;
    margin-left: 1%;
}

.contentAlunos{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.checkboxes-all{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.checkbox-filtro{
    margin-right: 2%;
    margin-bottom: 1%;
}

.input-aluno-search{
    opacity: 1!important;
    background: #fff!important;
    position: relative!important;
}

.search-bar-aluno{
    margin-bottom: 5%;
}

.tabela-alunos{
    margin-top: 2%;
}

.big-modal{
    max-width: 95vw;
    align-items: unset;
    min-height: 95vh;
    
}

.modal-title{
    font-family: 'Montserrat', sans-serif;
}

.corpo-modal{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: top;
    align-items: center;
}


.tabela-alunos{
    margin-top: 2%;
}

.invisivel{
    display: none;
    transition: 1s;
}

.fluider{
    display: flex;
    flex-direction: row;    
}

.conteudo-aluno .titulo-informacoes {
    color: #343a40;
    font-size: 30px;
}

.conteudo-aluno .corpo-informacoes {
    color: #343a40;
    font-size: 20px;
}

.conteudo-aluno .avatar-usuario{
    width:30vw;
    height:20vh;
    display: block;
    margin: 0 auto;
}

.modal-dark{
    background: #343a40;
}

.light-mode-text{
    color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .titulo-top{
        margin-top: 0px;
    }
    
    .bloco-no-overflow{
        overflow-y:hidden;
    }
    
    .card-grupo{
        margin-top:0%;
    }

    .conteudo-aluno .titulo-informacoes {
        color: #343a40;
        font-size: 40px;
    }
    
    .conteudo-aluno .avatar-usuario{
        width:10vw;
        height:20vh;
        display: block;
        margin: 0 auto;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}