body{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#notfoundC{
  background: url("../assets/background1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

#notfoundB{
  background: url("../assets/background3.jpg");
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

#notfound{
  background: url("../assets/background2.jpg");
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.title{
  font-family: 'Baloo Bhai', cursive;
  font-size: 5em;
  color: white;
  margin-bottom: 0%!important;
  padding-bottom: 0%!important;
}

@keyframes roda{
  100%{
    transform: rotate(360deg);
  }
}

.engrena{
  font-size: 75px;
  -webkit-animation-name: roda;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  margin-bottom: 0px!important;
  padding: 0px!important;
}

.subtitulo{
  color: white;
  font-family: 'Stylish', sans-serif;
  font-size: 3em;
  margin-bottom: 0%!important;
  padding-bottom: 0%!important;
  text-align: center;
}

.deslogar{
  margin-bottom: 20%!important;
}


@media only screen and (min-width: 992px) {
  .title{
    font-family: 'Baloo Bhai', cursive;
    font-size: 15em;
    color: white;
  }
  
  .engrena{
    font-size: 165px;
  }
}

